<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Question</title>
    <style type="text/css">
        input{
            background-color: RGBA(74,145,158,0.2);
            border-radius: 5px;
            text-align: center;
        }
        a{
            text-decoration: none;
            font-weight: bold;
            color:#551A8B;
        }
    </style>
</head>
<body style=" background-image: url('https://i.gifer.com/ojP.gif');
    background-size: cover;
    height: 100%;
    padding:0;
    margin:0;">
<h1 style="background-color: RGBA(74,145,158,0.5);"><a th:href="@{/questions}">Back to questions</a></h1>
<div style="display: flex;flex-direction:column;width: 100%;justify-content: center;">
    <h1>Delete a Question: </h1>
    <form th:method="DELETE" th:action="@{/questions/{id}(id=${question.getQuestion_id()})}" th:object="${question}">
        <table style="border-collapse: collapse;text-align: center;background-color: RGBA(229,232,251,0.3); border: 2px solid black; width: 100%">
            <tr>
                <td>Question title: </td><td><input type="text" th:field="*{question_title}" id="title" /></td>
            </tr>
            <tr>
                <td>Question id: </td><td><input type="text" th:field="*{question_id}" id="id" /></td>
            </tr>
        </table>
        <h1 style="text-align: center;"><input type="submit" value="Delete" /></h1>
    </form>
    </div>
</body>
</html>